<html>
<head>
  <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="board">
    <div class="secret-code-container">
      <div class="title"><h1>Mastermind</h1></div>
      <div class="reset">
        <form>
          <input type="submit" value "reset" name = 'reset'>
        </form>
      </div>
      <H2> Secret Code </H2>
      <% if won %>
      <H3> CRACKED! </h3>
        <% hidden_code.each do |number| %>
          <% if number == "1" %> <div class = "guesses one"></div> <% end %>
          <% if number == "2" %> <div class = "guesses two"></div> <% end %>
          <% if number == "3" %> <div class = "guesses three"></div> <% end %>
          <% if number == "4" %> <div class = "guesses four"></div> <% end %>
        <% end %>
      <h4> Found in <%=turn-1%> <%=turn-1 > 1 ? "guesses" : "guess" %> </h4>
      <% else %>
        <% 4.times do %>
          <div class = "guesses blank"></div>
        <% end %>
      <% end %>
    </div>
    <div class="play-area">
      <% if won %>
        <h2> Success! </h2>
      <% else %>
        <h2> <%=9-turn%> <%=(9-turn)>1 ? "guesses" : "guess" %> left </h2>
      <% end %>
      <div class ="old_guess_container">
        <% old_guesses.each_with_index do |guess,index| %>
          <div class = "old_guesses">
            <% old_guesses[index].each do |number| %>
              <% if number == "1" %> <div class = "guesses one"></div> <% end %>
              <% if number == "2" %> <div class = "guesses two"></div> <% end %>
              <% if number == "3" %> <div class = "guesses three"></div> <% end %>
              <% if number == "4" %> <div class = "guesses four"></div> <% end %>
            <% end %>
            <div class="clues">
              <% old_responses[index].each_with_index do |number,clue_index| %>
                <%if number == 1%> <div class="clue correct<%if clue_index > 1%> clue_bottom<%end%>"></div><% end %>
                <%if number == 0%> <div class="clue close<%if clue_index > 1%> clue_bottom<%end%>"></div><% end %>
                <%if number == ' '%> <div class="clue miss<%if clue_index > 1%> clue_bottom<%end%>"></div><% end %>
                <%if clue_index == 1%><br><% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <form>
        <div class="guess-input-field">
          <!--This will be repeated for however many options there are -->
          <div class = "guesses zero" id = "guess1" onclick="cycleValue(event)"></div>
          <div class = "guesses zero" id = "guess2" onclick="cycleValue(event)"></div>
          <div class = "guesses zero" id = "guess3" onclick="cycleValue(event)"></div>
          <div class = "guesses zero" id = "guess4" onclick="cycleValue(event)"></div>
          <br>
          <input type = "text" name = "input1" id ="input1" class = "hidden">
          <input type = "text" name = "input2" id ="input2" class = "hidden">
          <input type = "text" name = "input3" id ="input3" class = "hidden">
          <input type = "text" name = "input4" id ="input4" class = "hidden">
        </div>
        <div class="guess-button">
          <input type="submit">
        </div>
      </form>

      <div class="old_guess_container">
        <% (8-turn).times do %>
          <div class="old_guesses">
            <% 4.times do %>
              <div class = "guesses"></div>
            <% end %>
          </div>
          <% end %>
      </div>

      <div class="guess-response">
        <strong>Hidden Code</strong><br>
        <%= hidden_code.inspect %>
      </div>
    </div>

    <div class="hidden-code"></div>
  </div>
<script src="index.js"></script>
</body>
</html>
